body {
    margin-top: 4rem;
    font-family: 'IBM Plex Sans', sans-serif;
}

footer {
    height: 3rem;
    color: black;
}

.barras {
    background-color: #8c8c8c;
    color: rgba(255, 255, 255, 0.9);
}

a.navbar-brand.titulo {
    color: black;
}

.btn-secondary {
    background-color: #8c8c8c;
}

.container._ContAccion {
    margin-bottom: 5rem;
}

.visible {
    display: none;
}

.rowItem {
    display: block;
    margin-top: 20px;
    border-bottom: solid 1px #cecece;
}

.rowTitulo {
    background-color: #343a40;
    color: white;
    border-radius: 5px 5px 0px 0px;
}

.fomrBuscar {
    justify-content: flex-end;
    padding: 10px;
    border-radius: 5px;
}

.col-resumesDates {
    justify-content: end;
    display: grid;
}

.p-timeProsc {
    justify-content: end;
    display: grid;
    font-size: 0.7rem;
}

#estData {
    text-align: center;
}

.cajatabla {
    box-shadow: 0px 1px 1px 0px #8d8d8d;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

span.badge {
    width: 100px;
}

thead {
    background-color: #8c8c8c;
    color: white;
}

table {
    width: 100%;
}

tr {
    text-align: center;
}

    tr.odd {
        background-color: #e9ecef8a;
    }

    tr.even {
        background-color: white;
    }

.rowContadores {
    display: contents;
}

.contadores {
    font-size: 3rem;
    text-align: center;
}

.detContador {
    font-size: 1.5rem;
    text-align: end;
}

.rowTotal {
    border-top: 1px solid #d6d6d6;
}

.cajaTotal {
    text-align: end;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    color: #495057;
    font-size: x-large;
}

dd {
    margin-bottom: 0;
    margin-left: 0;
}

.lblna {
    font-size: small;
    color: #8b8b8c;
}

.lblEnviado {
    color: #28a745;
}

.lblPendiente {
    color: #ffc107;
}

.lblError {
    color: #dc3545;
}

.rowTotalsearch {
    justify-content: flex-end;
}
/*info estados env*/
.marginTituloDesc {
    margin: 0px 5px 0px 0px;
    padding: 0;
    text-align: right;
}

.marginDescTtulo {
    padding: 0;
    text-align: left;
    margin: 0;
}

.card.card-body {
    padding: 0;
    font-size: x-small;
}

.collapse {
    width: 180px;
}

.desCantidad {
    text-align: center;
}

.container.contTitulo {
    max-width: none !important;
    width: 80%;
}

.row.rowResumen {
    text-align: end;
}

i.fas.fa-search-plus {
    position: absolute;
    right: 20px;
}
