@model IEnumerable<estadoManifiestos.Models.manifiesto>
@{
    ViewBag.Title = "estados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row rowItem">
    <div class="row">
        Ultima actualización <span id="date"></span>
    </div>
    <div class="row">
        <div class="col" id="estData">
        </div>
    </div>
</div>
<!--Zona de tabla de estados del manifiesto-->
<div class="row rowItem">
    <div class="col">
        <div class="row">
            <h3>Actividades recientes</h3>
        </div>
        <div class="row">
            <div class="col cajatabla">
                <script type="text/javascript">
                    $(function () {
                        $("#table_id").DataTable();
                    });
                </script>
                <table id="table_id" class="display">
                    <thead>
                        <tr>
                            <th>MANIFIESTO</th>
                            <th>FECHA</th>
                            <th>OFICINA</th>
                            <th>Min.TRANSPORTE</th>
                            <th>Dest. SEGURO</th>
                            <th>OSP</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var manifiesto in Model)
                        {
                            <tr>
                                <td>@manifiesto.nroPlanilla</td>
                                <td>@manifiesto.fechaGen</td>
                                <td>@manifiesto.oficina</td>
                                <!--****************Min. Trasporte****************-->
                                <td>@if (manifiesto.estMinisterio == 1)
                                    {
                                    <span class="badge badge-pill badge-success">Enviado</span>
                                    }
                                    else if (manifiesto.estMinisterio == 2)
                                    {
                                    <span class="badge badge-pill badge-warning">Pendiente</span>
                                    }
                                    else if (manifiesto.estMinisterio == 3)
                                    {
                                    <span class="badge badge-pill badge-danger">Rechazado</span>
                                    }
                                    else if (manifiesto.estMinisterio == 4)
                                    {
                                    <span class="badge badge-pill badge-danger">No Catalogado</span>
                                    }
                                    else if (manifiesto.estMinisterio == 5)
                                    {
                                    <span class="badge badge-pill badge-light">Urbano</span>
                                    }
                                    else
                                    {
                                    <span>Desconocido</span>
                                    }
                                </td>
                                <!--****************Dest. Seguro****************-->
                                <td>
                                    @{if (manifiesto.estDestseguro == 1)
                                      {
                                        <span class="badge badge-pill badge-success">Enviado</span>
                                      }
                                      else if (manifiesto.estDestseguro == 2)
                                      {
                                        <span class="badge badge-pill badge-warning">Pendiente</span>
                                      }
                                      else if (manifiesto.estDestseguro == 3)
                                      {
                                        <span class="badge badge-pill badge-danger">Rechazado</span>
                                      }
                                      else if (manifiesto.estDestseguro == 4)
                                      {
                                        <span class="badge badge-pill badge-danger">No Catalogado</span>
                                      }
                                      else if (manifiesto.estDestseguro == 6)
                                      {
                                        <span class="badge badge-pill badge-light">Propio</span>
                                      }
                                      else
                                      {
                                        <span>Desconocido</span>
                                      }
                                    }
                                </td>
                                <!--****************OSP****************-->
                                <td>
                                    @{if (manifiesto.estOsp == 1)
                                      {
                                        <span class="badge badge-pill badge-success">Enviado</span>
                                      }
                                      else if (manifiesto.estOsp == 2)
                                      {
                                        <span class="badge badge-pill badge-warning">Pendiente</span>
                                      }
                                      else if (manifiesto.estOsp == 3)
                                      {
                                        <span class="badge badge-pill badge-danger">Rechazado</span>
                                      }
                                       else if (manifiesto.estOsp == 4)
                                      {
                                        <span class="badge badge-pill badge-danger">No Catalogado</span>
                                      }
                                      else if (manifiesto.estOsp == 6)
                                      {
                                        <span class="badge badge-pill badge-light">Tercero</span>
                                      }
                                      else
                                      {
                                        <span>Desconocido</span>
                                      }
                                    }
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>

<div class="row rowItem">
    <div class="row">
        <div class="col">
            <a id="btnRefres" class="btn btn-primary btn-lg btn-block" href="/">Refrescar información</a>
        </div>
    </div>

</div>
